<h4>Bank Details</h4>
<p>
Transfer funds directly to our bank account.
Your order will not be shipped until we
receive your transferred funds. Use your
Name and Order ID as a reference.
</p>

<p>
<strong>Please send your payment to:</strong> <br />
Account Name: <%= bank_details['name'] %> <br />
Sort Code: <%= bank_details['sort_code']%> <br />
Account Number: <%= bank_details['account_number']%> <br />
IBAN: <%= bank_details['iban']%><br />
</p>