<div id="templatemo_main">
	<div id="templatemo_content">
      <h4>Thank you!</h4>
      <div>
        Your Order is now <strong>confirmed</strong>, you should receive an email to 
        <span style="font-style:italic;"><%=@cart.email%></span> shortly.
        <br/><br/>
          <img src="/images/invoice_icon.png">         
          <%= link_to @order.pdf_name, { :action => :invoice } %>
        <br/><br/>
        <%= link_to "Continue shopping", { :controller => :store, :action => :index}%>
      </div>
    </div>
    <div id="templatemo_sidebar">
    </div>
    <div class="cleaner"></div>
</div>