<%=paginate @orders%>


<table id='orders'>
<% @orders.each do |o| %>
  <tr>
    <td><%= link_to o.updated_at, :action=>:order_details,:id=>o.id %></td>
    <td>£<%= o.sub_total %></td>
  </tr>
<% end %>
</table>