<div id="templatemo_main">
  <div id="templatemo_content">

      <h3>Shipping &amp; Returns</h3>   
      <p>
      Return or exchange an item - our 100% money back guarantee. If you are not completely satisfied with your purchase, simply return the item to us in its original condition within 14 days of receipt. Returned items should be unused and must be returned in original packaging with any enclosed documentation. We will issue a full refund on receipt, including the original delivery charge. Alternatively, if preferred, we will exchange the item.
      </p>
      <p>
      <strong>Please note:</strong>
       The item is your responsibility until it reaches us. Therefore for your own protection we recommend that you send the parcel using a delivery service that insures you for the value of the goods. 
       <strong>Return delivery charges are only refundable where goods are faulty, damaged or mispresented.</strong>
      </p>

      <h3>Late And Unacceptable Returns</h3>
      <p>
      If you return items to us after the expiry of the 14 day Approval Period we may not refund your account. We reserve the right, at our discretion, to either make an administration charge of 6.00EUR for smaller items, and 15.00EUR for larger items, or we may return your items to you (at a cost to you of the actual postage rate). If you send the item back to us again, or refuse to accept delivery, this will be deemed as irreversible authority for us to dispose of your goods without further notice. Disposal will not constitute any admission on our part that we have failed in any way to honour our obligations to you in full and will not constitute any unlawful action against the goods. Acceptance of a return by your courier is not deemed to be acceptance by the company. This does not affect your statutory rights. 
      </p>
      <p>
       If you return items to us after the expiry of the 14 day Approval Period, unless they are faulty or do not comply with the contract, we will not refund your account. We will return your items to you at your expense. If you send the item back to us again, or refuse to accept delivery, this will be deemed as irreversible authority for us to dispose of your goods without further notice. Disposal will not constitute any admission on our part that we have failed in any way to honour our obligations to you in full and will not constitute any unlawful action against the goods. Acceptance of a return by your courier is not deemed to be acceptance by the company. This does not affect your statutory rights.</p>

      <h3>Delivery Charges</h3>

      <p>Postal rates are calculated by reference to the weight, shape, size and destination of the item you are posting.</p> 
      <p>You will be shown the amount you shall be paying for delivery when you are checking out. All deliveries are sent by regular post and reach recipient within 3-10 days.
       Delivery time outside European Union may vary upto 1 month.</p> 
  </div>
  
  <div id="templatemo_sidebar">
      <div class="sidebar_box"></div>
  </div>
  <div class="cleaner"></div>
</div>