<div id="templatemo_main">
  <div id="templatemo_content">
      <h3>Terms &amp; Conditions</h3>   
        <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern SasisCo relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
        <p>The term <em>'SasisCo'</em> or <em>'us'</em> or <em>'we'</em> refers to the owner of the website whose registered office is <em>43 Inis Ealga Shannon Co. Clare Ireland</em>. The term <em>'you'</em> refers to the user or viewer of our website.</p>
        <p>The use of this website is subject to the following terms of use: <br/>
        The content of the pages of this website is for your general information and use only. It is subject to change without notice.
        Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
        Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
        This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
        All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
        Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
        From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
        Your use of this website and any dispute arising out of such use of the website is subject to the law of Republic of Ireland.
        </p>
        <h3>Privacy Statement</h3>
        <p>We abide by the Irish and EU Rules on Data Protection.</p>
        <p>SasisCo will not give, sell, trade or rent in any way or form,information supplied by our customers to a third party.</p>
        <p>Your information is strictly used for internal SasisCo.co.uk purposes to process your orders. We need to collect basic data (e.g. email address, company name) when you buy from  us. This information is used to identify our customers and to send order confirmations. We collect delivery and billing information (ie. invoice &amp; delivery addresses, phone numbers etc) at the Checkout page in order to process your order and to contact you should there be a problem with your order.</p>
        <p>SasisCo.co.uk value our customers privacy and understand that you don't want your name and personal details sold or given to third parties. SasisCo.co.uk will not sell, give, trade or rent in any way or form your information to a third party. We will only provide your information to a third party (e.g. Post Office), who will also keep your personal details protected, when it is necessary for processing your order and facilitating delivery.</p>
        <p>By using our web site, you consent to the collection and use of this information. Should we decide to change our privacy policy in any way, we will notify such changes on this page so that you are aware of the information we collect, that we use it, and the circumstances under which we would disclose it.</p>      
  </div>
  <div id="templatemo_sidebar">
        <div class="sidebar_box"></div>
  </div>
  <div class="cleaner"></div>
</div>