<div class="sidebar_title categories">
	Categories
</div>
<div class="sidebar_box">
    <ul class="templatemo_list">
        <% categories.each { |c| %>
            <li><%=link_to c.name, :action => :category, :id => c.id %></li>
        <%}%>
    </ul>
</div>
