<div class="sidebar_title popular">
	Popular Items
</div>
<div class="sidebar_box">
    <ul class="templatemo_list">
        <% popular.each { |p| %>
            <li><%=link_to p.name, :action => :product, :id => p.id %></li>
        <%}%>
    </ul>
</div>

