<div class="sidebar_title search">
	Product Search
</div>
<div class="sidebar_box">
  <div>
    <%= form_tag({:action => :search}, :class=>"product_search") do %>
       <%= text_field_tag :search, search, {:class=>:input_field, :style=>'width:160px;'}%>
       <%= submit_tag("search", {:class=>:submit_btn})%>
    <% end %>
  </div>
</div>

