<div id="templatemo_main">
	<div id="templatemo_content">
      <h4>Error occurred:</h4>
      <div class='column_310'>
        <%= flash[:error]%>
      </div>
    </div>
    <div id="templatemo_sidebar">
    </div>
    <div class="cleaner"></div>
</div>

